@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');


body {
    max-width: 1440px;
    min-width: 320px;
    margin: auto !important;
}

body * {
    font-family: 'Syne';
    font-style: normal;
    
}

p {
    color: black;
}

/* Header */

header {
    margin: auto !important;
    height: 80px;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center;
}


header a {
    color: #000;
}

header a:hover {
    color: #000;
}

.logoPlanty {
    height: 19px;
    margin-left: 37px;
}

.menu {
    list-style: none;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
}

#menu-item-431 {
    margin-right: 60px;
}

#menu-item-431:hover {
    font-weight: 500;
}

#menu-item-430 a {
    width: 236px;
    height: 80px;
    background-color: #DC9F96;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-item-430 a:hover {
    background-color: #C02E44;
}

#menu-item- {
    margin-right: 60px;
}

/* Footer */


footer {
    height: 60px;
}

footer a {
    display: flex;
    justify-content: center;
    color: #000;
}

footer a:hover {
    color: #000;
}

/* Formulaire Page Nous rencontrer */

.form1 {
    display: flex;
    flex-direction: column;
}

.text-field1 {
    height: 71px;
    margin-bottom: 20px;
}

.text-field2 {
    height: 237px;
    resize: none;
    margin-bottom: 22px;
}

.submit1 {
    height: 55px;
    width: 198px;
    text-transform: none !important;
    display: grid !important;
    margin: auto !important;
}

/* Formulaire Page Commander */

/* Compteurs */

.card-img {
    margin-bottom: 15px;
}

.commands {
    display: flex;
    flex-direction: row;
    height: 56px !important;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}

.command-container {
    display: flex;
    flex-direction: row;
}

.whole-counter {
    display: flex !important;
    flex-direction: row !important;
    height: 56px !important;
    width: 82px !important;
    margin-right: 11px !important;
}


.counter-number {
    background-color: white !important;
    width: 51px !important;
    height: 56px !important;
    text-align: center !important;
    margin: 0;
    border-radius: 7px 0px 0px 7px !important;
    color: #000;
    font-family: Inter;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400 !important; 
}

.button-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    line-height: 0px;
}

.button-plus,
.button-moins {
    height: 27.5px;
    width: 31px;
    padding: 0; 
    background-color: #DC9F96;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 400;
    text-align: center; 
    line-height: 28px;
}

.button-plus {
    border-radius: 0px 7px 0px 0px !important;
    
}

.button-moins {
    border-radius: 0px 0px 7px 0px !important;
}

.main-button {
    color: #FFF;
    background-color: #E0B9B4 !important;
    margin: 0 !important;
    width: 100px !important;
    height: 56px !important;
    font-size: 15px !important; 
    font-weight: 400 !important; 
    border-radius: 7px !important;
    border: none;
    cursor: pointer;
}

.solid-button {
    width: 31px;
    height: 1px;
    background-color: #FFF !important;
}

/* Formulaire */

.title-form {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
}

.textarea-form {
    width: 383px;
    height: 71px;
    border-radius: 7px !important;
    margin-top: 13px;
    
}

.submit2 {
    width: 198px !important;
    height: 55px !important;
    display: grid !important;
    margin: auto !important;
    background-color: #E0B9B4 !important;
    text-transform: none !important;
    font-size: 15px !important;
    font-weight: 400 !important; 
    border-radius: 5px !important;
    margin-top: 44px !important;
    margin-bottom: 90px !important;
}

/* Séparateurs Formulaire*/

.solid-top {
    height: 1px;
    background-color: #FFF !important;
    width: 100%;
    margin-top: 190px !important;
    margin-bottom: 55px !important;
}

.solid-bot {
    border: 1px solid;
    height: 447px;
    color: #FFF;
    margin-top: 15px !important;
}

/* Responsive tablettes 800px) */
@media (max-width: 800px) {

/* Header */

header {
    height: 60px;
}

.logoPlanty {
    height: 15px;
    margin-left: 20px;
}

#menu-item-431 {
    margin-right: 20px;
}


#menu-item-430 a {
    width: 160px;
    height: 60px;
    font-size: 20px;
}


#menu-item- {
    margin-right: 20px;
}

/* Footer */

footer {
    height: 46px !important;
}

/* Page Nous rencontrer */



.wp-image-450 {
    display: none !important;
}

/* Formulaire Page Nous rencontrer */

.elementor-element-e2386d6 {
    background-image: none !important;
}

/* Formulaire Page Commander */

/* Compteurs */    

.commands {
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    margin: 15px !important;
}

/* Formulaire */

.form2-container {
    margin: auto !important;
    padding: 15px !important;
}

.title-form {
    text-align: center;
}

/* Séparateurs Formulaire*/

.solid-top {
    margin-top: 450px !important;
}

.solid-bot {
    display: none;
}

}



/* Responsive mobiles 480px) */
@media (max-width: 480px) {

    /* Header */

    header {
        height: 40px;
    }

    .logoPlanty {
        height: 10px !important;
        margin-left: 10px;
    }

    #menu-item-431 {
        font-size: 14px;
        margin-right: 10px;
        line-height: 16px;
    }


    #menu-item-430 a {
        width: 120px !important;
        height: 40px;
        font-size: 14px;
    }

    #menu-item- {
        font-size: 14px;
        margin-right: 10px;
    }

/* Footer */

footer {
    height: 26px !important;
    font-size: 14px !important;
}

footer a {
    margin-bottom: 14px !important;
}

/* Formulaire Page Nous rencontrer */

.text-field1 {
    height: 45px !important;
}

.text-field2 {
    height: 150px;
}

form label {
    font-size: 16px !important;
}

/* Formulaire Page Commander */

/* Compteurs */ 

.cards {
    margin: 20px !important;
}

/* Formulaire */

.title-form {
    font-size: 20px;
    text-align: center;
}

.textarea-form {
    height: 45px;
}

.form2-space {
    margin-top: 40px !important;
}

label::first-line {
   
}

/* Séparateurs Formulaire*/

.solid-top {
    margin-top: 900px !important;
}

}